
<div class="container">
    <br><br><br>
    <form class="container col-md-6 mt-5" id="page" >
        <p class = "display-4 lead" >Change Password</p> 
        <div>
            <label for="name" class="lead">Old Password </label>
            <input required minlength="3" maxlength="10"  ngModel name="userName" #userName="ngModel"  type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="userName.touched && !userName.valid">old password is required</div>
        </div>
        <div>
            <label for="name" class="lead" >New Password</label>
            <input required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" ngModel name="password" #password="ngModel"  type="password" class="form-control">
            <div class="alert alert-danger" *ngIf="password.touched && !password.valid">new password is required</div>
            <span *ngIf = password.errors?.pattern>
                Enter a valid password.
            </span>
            <p>password must be minimum 8 characters with atleast one number in the end</p>
        </div>
        <a id="a" class="btn btn-primary" (click)=passwordchanged() routerLink="/admin-page">Submit</a>
    </form>    
    </div>
    
    