<div class="bg-image"></div>
<div class="bg-text">
  <h1>Kitchen Story....</h1>
  <p>Login to Explore!</p>
</div>
<br>
<!-- <div class="hero-image" class="container" style:background-image="hero_image.jpg">
    <div class="hero-text">
      <h1>Kitchen Story....</h1>
    </div>
  </div> -->
  <!-- <div class="hero-image">
  <div class="hero-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
</div> -->

<!--  FROM HERE-->
<!-- 
  
  <h1 class="headings">Kitchen Story</h1>
  <div class="container-fluid">
    <div class="row">
  <div class="card"  style="width: 18rem;">
    
    <img class="card-img-top" src="https://i.ytimg.com/vi/nHnDnfSMAgs/maxresdefault.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" >Add</a>
    </div>
  </div>  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn-b.medlife.com/2019/01/carrot.jpg">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Add</a>
    </div>
  </div>  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.ndtvimg.com/i/2015-10/kiwi-fruit_625x350_81445871711.jpg">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Add</a>
    </div>
  </div>  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator.com/news/science/children-who-drink-whole-milk-less-likely-to-be-obese-study/10510678-1-eng-GB/Children-who-drink-whole-milk-less-likely-to-be-obese-Study.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">add</a>
    </div>
  </div> 
  </div>
  </div>  -->


<!--TILL HERE-->










   <!-- <div class="row">
    <div class="card col-3 m-2" style="width: 18rem;" *ngFor = "let items of products; let i = index">
        <img class="card-img-top" src={{items.link}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{items.name}}</h5>
          <p class="card-text">RS.{{items.price}}</p>
          <a  class="btn btn-outline-primary btn-lg btn-block" id = {{i}}  (click) = "buy(items.name,items.link,items.price)">Buy</a>
          <a  class="btn btn-outline-primary btn-lg btn-block" id = "{{i}}"  (click) = "get(i)" style="display: none;">Remove</a> 
        </div>
      </div>
   </div>  -->


